# Ignore plots folder
plots/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore model files (if not needed)
*.h5
*.keras

# Ignore temporary files (e.g., editor backup files)
*~
